#bench {
    width: 800px;
    background-color: red;
}

#hand {
    width: 800px;
    background-color: blue;
}

#take-pile {
    width: 800px;
    background-color: green;
}

#throw-pile {
    width: 800px;
    background-color: yellow;
}

.card-slot {
    height: 100px;
    width: 100px;
    background-color: lime;
    float: left;
    margin: 10px;
    padding: 10px;
}

.slot-list {
    overflow: hidden;
}